#grad {
  background-image: linear-gradient(to bottom, rgba(128, 139, 150), rgba(86, 101, 115 ), rgba(44, 62, 80));
  font-family: 'Philosopher', sans-serif;
  color:rgb(255,255,255);
}
.wrapper {
  background: url("https://www.pngmart.com/files/22/Lighthouse-PNG-Isolated-Image.png") no-repeat;
  background-size: 100vw; 
  float: left;
  height: 100vw;
  width: 100vw;
} 

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
 
}

.text-wrap {
  word-wrap: break-word;
}

.bike-collection {
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
}

.ui.grid > .row.bike-collection-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
}


